.link:hover{
    color: #6eb0b2;
}
.temp-bg{
    background-color: #f6cb9c;
}
.box {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    height: 50px;
    width : 50px;
}

.line {
    width: 70%;
     margin-right: auto; 
     margin-left: auto;
}

.card-bg-1{
    background-color: #c1f0d1;
    border-width: 0ch;
    height: 230px;
}
.card-bg-2{
    background-color: #cbd7ff;
    border-width: 0ch;
    height: 230px;
}